* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

/**************HEADER/NAV COMÚN A LAS PÁGINAS***********/
/*Posicionado y dimensiones del logo, retorno de transforms aplicados en el hover con temporización*/
.logotipo {
    display: block;
    width: 300px;
    margin: 30px auto;
    transition: all 0.6s linear;
}

/*Cambios al pasar el ratón por encima del logo*/
.logotipo:hover {
    opacity: 0.7;
    transform: rotate(-5deg) scale(1.05);
    transition: all 0.7s linear;
}

.banner {
    position: fixed;
    display: inline-block;
    right: 0;
    top: 40px;
    width: 20px;
    height: 120px;
    background-image: linear-gradient(#fb6920, #ffc7a2, #fb6920);
    border-radius: 40% 0 0 40%;
    box-shadow: -2px 1px 4px grey;
}

.banner:hover {
    width: 30px;
    opacity: 0.5;
    transition: all 0.2s linear;
}

.tooltip {
    display: none;
}

.tooltip:hover {
    display: block;
    width: 100px;
    height: 10px;
    background-color: red;
}

/***********NAV**********/
/*BARRA DE NAVEGACIÓN, MICHELIN, COVID, LINKS, CITA*/
.navegacion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-top: 70px;
    background-image: linear-gradient(to right, rgb(95, 64, 64), ivory, rgb(95, 64, 64));
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    box-shadow: 1px 2px 3px grey;
}

/*contenedor que engloba las dos imágenes, de muñeco y covid free*/
.michecovid {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 0;
    background-color: red;
}

/*Imagen muñeco michelín sobre nav*/
.michelin img {
    position: relative;
    top: -23px;
    display: inline-block;
    width: 150px;
    margin-left: 50px;
    z-index: 10;
}

.covid img {
    position: relative;
    top: -35px;
    right: 30px;
    display: inline-block;
    width: 100px;
    margin-right: 20px;
}

ul,
li {
    display: inline-block;
    margin-left: 40px;
}

li a {
    color: black;
    text-decoration: none;
}

ul li a p::first-letter {
    font-size: 1.3rem;
}

ul li a p:hover {
    transform: scale(1.1);
    border-bottom: 1px solid black;
    transition: all 0.6s linear;
}

/************FIN DEL NAV**********/

/*REDES SOCIALES Y RESERVAS*/
.redesycontacto {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social {
    margin: 20px;
    width: 200px;
}

.fa-twitter,
.fa-facebook-f,
.fa-pinterest,
.fa-instagram,
.fa-google-plus-g {
    font-size: 1.2rem;
    text-decoration: none;
    margin-left: 10px;
}

.fa-twitter {
    color: #1DA1F2;
    transition: 0.8s;
}

.fa-facebook-f {
    color: #4267B2;
    transition: 0.8s;
}

.fa-pinterest {
    color: #E60023;
    transition: 0.8s;
}

.fa-instagram {
    color: #C13584;
    transition: 0.8s;
}

.fa-google-plus-g {
    color: #DB4437;
    transition: 0.8s;
}

.fa-pinterest:hover,
.fa-facebook-f:hover,
.fa-twitter:hover,
.fa-instagram:hover,
.fa-google-plus-g:hover {
    opacity: 0.6;
}

.telf {
    color: #fb6920;
    margin-right: 20px;
}

.telf::first-letter {
    font-size: 1.2rem;
}

/********FIN DEL HEADER/NAV COMÚN A LAS PÁGINAS***********/

/************FOOTER COMÚN***************/
footer {
    width: 1520px;
    height: 300px;
    background-color: rgb(36, 36, 36);
    color: white;
    text-align: center;
}

.footertextos {
    display: flex;
    justify-content: space-between;
}

.footertextos div {
    width: 32%;
    margin-top: 20px;
    padding: 30px;
    font-size: 0.9em;
    line-height: 1.6em;
}

.footertextos div p span {
    font-size: 1.3em;
}

.hrfooter {
    width: 3px;
    height: 160px;
    background-color: white;
    border: 1px solid white;
}

footer h3 {
    color: #fb6920;
    margin-bottom: 5px;
    font-size: 1em;
}

footer h3 span {
    color: #E60023;
}

footer h3::first-letter {
    font-size: 1.2em;
}

address {
    margin-top: 40px;
    font-style: normal;
    font-size: 0.8em;
}

address span {
    font-size: 1.3em;
}

/*************FIN DEL FOOTER COMÚN***************/


/***************CSS DE LA PÁGINA INDEX***************/
/*****MAIN DE LA PÁGINA INDEX*****/
h1 {
    font-size: 1.4rem;
    text-align: center;
    font-weight: 400;
    color: #2a92d9;
    margin-top: 40px;
}

h1::first-letter {
    font-size: 1.6rem;
}

/*Ventana al background*/
.ventana {
    width: 100%;
    height: 240px;
    margin-top: 50px;
    background-image: url(/img/index/fr1_nigirisushi.jpg);
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0px 0px 10px 2px black inset;
}

/*Cita Blockquote*/
.cita {
    width: 80%;
    height: 100px;
    margin: 70px auto 0px auto;
}

.cita div {
    display: flex;
    align-items: center;
    height: 70px;
    border-left: 4px solid #2a92d9;
}

.cita blockquote {
    padding-left: 35px;
    font-size: 0.9rem;
    font-weight: bold;
    width: 90%;
}

.cita p {
    margin-top: 10px;
    text-align: end;
    color: grey;
}

/*Linea separadora HR*/
hr {
    margin: 40px auto 20px auto;
    width: 30%;
    background-color: black;
    border: 2px solid black;
}

/*Bloque entrega a domicilio*/
.adomicilio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: 100px auto;
}

.adomicilio h2 {
    color: #2a92d9;
    font-size: 1em;
    text-align: center;
    font-weight: 400;
    margin-top: -30px;
}

.adomicilio h2::first-letter {
    font-size: 1.4em;
}

.adomiciliotexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    width: 60%;
}

.adomiciliotexto p {
    font-size: 0.8em;
    line-height: 1.4em;
}

.adomiciliotexto p span {
    font-size: 1.2em;
}

.imgrepartidor img {
    display: block;
    width: 300px;
    box-shadow: 0 0 10px grey;
}

/*Bloque galería de 6 imágenes con link*/
.galeriaindex {
    width: 80%;
    margin: 100px auto 80px auto;
}

.galeriaindex h2 {
    width: 80%;
    text-align: center;
    margin: 0 auto 50px auto;
    color: #2a92d9;
    font-size: 1em;
    font-weight: 400;
}

.galeriaindex h2::first-letter {
    font-size: 1.4em;
}

.bloquetarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.bloquetarjetas a {
    text-align: center;
    font-size: 0.8em;
    color: black;
    text-decoration: none;
    transition: all 0.9s;
}

.bloquetarjetas a:hover {
    opacity: 0.7;
}

.bloquetarjetas a>div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 190px;
    height: 390px;
    border-radius: 10px;
    border: 1px solid lightgrey;
    box-shadow: 0 0 10px rgb(192, 192, 192);
    margin-top: 10px;
    padding-bottom: 10px;
}

.tarjeta1,
.tarjeta2,
.tarjeta3,
.tarjeta4,
.tarjeta5,
.tarjeta6 {
    width: 163px;
    height: 360px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    border: 1px solid lightgray;
    margin: 12px auto;
}

.tarjeta1+p,
.tarjeta2+p,
.tarjeta3+p,
.tarjeta4+p,
.tarjeta5+p,
.tarjeta6+p {
    width: 80%;
    margin: -8px auto 0 auto;
    font-size: 0.9em;
    font-weight: 600;
}

.tarjeta1 {
    background-image: url(/img/index/superBento.jpg);
}

.tarjeta2 {
    background-image: url(/img/index/besoDragon.jpg);
}

.tarjeta3 {
    background-image: url(/img/index/bentoFantasia.png);
}

.tarjeta4 {
    background-image: url(/img/index/gambasMoriwase.jpg);
}

.tarjeta5 {
    background-image: url(/img/index/miniBento.jpg);
}

.tarjeta6 {
    background-image: url(/img/index/atunPicante.jpg);
}

/**********************FIN INDEX**********************/


/***************CSS DE LA PÁGINA EQUIPO***************/
/*****MAIN DE LA PÁGINA EQUIPO*****/

/*Bloque grid con imágenes y sus efectos*/
.equipo {
    display: grid;
    grid-template-areas:
        'm m c c f '
        'e e c c b ';
    width: 80%;
    height: 500px;
    gap: 5px;
    margin: 70px auto;
}

.equipo div:nth-child(1),
.equipo div:nth-child(2),
.equipo div:nth-child(3),
.equipo div:nth-child(4),
.equipo div:nth-child(5) {
    box-shadow: 0 0 5px 3px rgb(163, 163, 163);
    border-radius: 8px;
}

.equipo div:nth-child(1) {
    grid-area: m;
    background-image: url(/img/equipo/andrewNishimura.jpg);
    background-size: cover;
    background-position-y: -40px;
    filter: sepia();
    transition: 0.7s;
}

.equipo div:nth-child(1):hover {
    transform: rotate(720deg);
}

.equipo div:nth-child(2) {
    grid-area: c;
    background-image: url(/img/equipo/nakaneNishimura.jpg);
    background-size: cover;
    background-position-x: -130px;
    filter: blur(2px);
    transition: 0.7s;
}

.equipo div:nth-child(2):hover {
    transform: rotate(20deg) scale(60%);
    filter: blur()
}

.equipo div:nth-child(3) {
    grid-area: f;
    background-image: url(/img/equipo/hichitoNishimura.jpg);
    background-size: cover;
    background-position-x: -65px;
    filter: grayscale();
    transition: 0.7s;
}

.equipo div:nth-child(3):hover {
    transform: rotateY(180deg);
}

.equipo div:nth-child(4) {
    grid-area: e;
    background-image: url(/img/equipo/joeNishimura.jpg);
    background-size: cover;
    transition: 0.7s;
}

.equipo div:nth-child(4):hover {
    transform: rotateX(180deg);
}

.equipo div:nth-child(5) {
    grid-area: b;
    background-image: url(/img/equipo/fredNishimura.jpg);
    background-size: cover;
    background-position-x: -150px;
    filter: sepia();
    transition: 0.7s;
}

.equipo div:nth-child(5):hover {
    transform: skewX(20deg)
}

/*Bloque de citas y sus keyframes*/
.andrewquote,
.hichitoquote,
.fredquote,
.nakanequote,
.joequote {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    height: 150px;
    margin: 20px auto;
    padding: 0 70px;
}

/*para quotes con imagen a derecha*/
.hichitoquote,
.nakanequote {
    flex-direction: row-reverse;
}

.andrewquote div,
.hichitoquote div,
.fredquote div,
.nakanequote div,
.joequote div {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 15px 2px black inset;
}

/*quotes con imagen a izquierda*/
.andrewquote div {
    margin: 20px 0 0 80px;
    background-image: url(/img/equipo/andrewNishimura.jpg);
    background-size: 250%;
    background-position: -105px -5px;
}

.fredquote div {
    margin: 20px 0 0 80px;
    background-image: url(/img/equipo/fredNishimura.jpg);
    background-size: 340%;
    background-position: -195px -10px;
}

.joequote div {
    margin: 20px 0 0 80px;
    background-image: url(/img/equipo/joeNishimura.jpg);
    background-size: 230%;
    background-position: -70px -10px;
}

/*quotes con imagen a derecha*/
.hichitoquote div {
    margin: 20px 80px 0 0;
    background-image: url(/img/equipo/hichitoNishimura.jpg);
    background-size: 340%;
    background-position: -195px -10px;
}

.nakanequote div {
    margin: 20px 80px 0 0;
    background-image: url(/img/equipo/nakaneNishimura.jpg);
    background-size: 200%;
    background-position: -55px 2px;
}

.andrewquote div:hover,
.hichitoquote div:hover,
.fredquote div:hover,
.nakanequote div:hover, .joequote div:hover {
    animation: rebote 0.7s infinite ease-in-out;
}

@keyframes rebote {
    0% {
        top: 0px
    }

    25% {
        top: 15px
    }

    50% {
        top: 5px
    }

    75% {
        top: 10px;
    }

    100% {
        top: 0
    }
}

.andrewquote hr,
.hichitoquote hr,
.fredquote hr,
.nakanequote hr, .joequote hr {
    width: 3px;
    height: 90px;
    margin-bottom: 50px;
    background-color: #2a92d9;
    border: 1px solid #2a92d9;
}

.andrewquote blockquote,
.hichitoquote blockquote,
.fredquote blockquote,
.nakanequote blockquote, .joequote blockquote {
    width: 70%;
    padding-right: 20px;
    font-style: italic;
    font-size: 1em;
    line-height: 1.5em;
}

/*corrección padding para la quote con foto a la derecha*/
.hichitoquote blockquote,
.nakanequote blockquote {
    padding: 0 0 0 40px;
}
/********fin******/

.andrewquote blockquote span,
.hichitoquote blockquote span,
.fredquote blockquote span,
.nakanequote blockquote span, .joequote blockquote span {
    font-size: 1.4em;
}

.andrewquote+p,
.hichitoquote+p,
.fredquote+p,
.nakanequote+p, .joequote+p {
    width: 80%;
    margin: -20px auto 70px auto;
    padding-right: 20px;
    text-align: right;
    font-size: 0.9em;
    color: rgb(134, 134, 134);
}

/*corrección p bajo quote para imagen a derecha*/
.hichitoquote+p,
.nakanequote+p {
    padding-right: 280px;
}
/******fin*****/

.andrewquote+p span,
.hichitoquote+p span,
.fredquote+p span,
.nakanequote+p span, .joequote+p span {
    font-size: 1.3em;
}

@media screen and (max-width: 800px) {}